<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-satorahq" value="https://nuget.pkg.github.com/satoraHQ/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-satorahq>
      <add key="Username" value="%GITHUB_USERNAME%" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github-satorahq>
  </packageSourceCredentials>
</configuration>