@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.Serilog.Views
@using Microsoft.AspNetCore.Mvc.TagHelpers

@using BTCPayServer.Client

<li class="nav-item" permission="@Policies.CanModifyServerSettings">
    <a layout-menu-item="@PluginNavPages.Index" asp-controller="UIPlugin" asp-action="Index" class="nav-link">
        <img src="/Resources/img/Serilog.png" />&nbsp;
        <span>Serilog Server Notifications&nbsp</span>
    </a>
</li>
