
<table>
    <tr>
        <td>
            <a href="https://peachbitcoin.com/referral/?code=PROB44" target="pch">
                <img src="/Resources/img/Shopstr.webp" />
            </a>
        </td>
        <td width="20" />
        <td>
            <p>
                Shopstr plugin<br />
                Please read our documentation <a href="https://github.com/Nisaba/btcpayserver-plugins/blob/master/BTCPayServer.Plugins.Shopstr/README.md" target="_blank">here</a>.
            </p>
        </td>
    </tr>
</table>
<br />
