@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.LnOnchainSwaps.Views
@using Microsoft.AspNetCore.Mvc.TagHelpers

@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (!string.IsNullOrEmpty(storeId))
{
<li class="nav-item">
    <a asp-controller="LnOnchainSwapsPlugin" asp-action="Index" asp-route-storeId="@storeId" class="nav-link @ViewData.IsActivePage(PluginNavPages.Index)">
        <img src="/Resources/img/LnOnchainSwapsIco.png"/>&nbsp;
            <span>&nbsp;Lightning/Onchain Swaps</span>
    </a>
</li>
}