@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.Exolix.Views
@using Microsoft.AspNetCore.Mvc.TagHelpers

@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (!string.IsNullOrEmpty(storeId))
{
<li class="nav-item">
    <a asp-controller="ExolixPlugin" asp-action="Index" asp-route-storeId="@storeId" class="nav-link @ViewData.IsActivePage(PluginNavPages.Index)">
        <img src="/Resources/img/Exolix.svg" width="24" height="24" class="icon"/>&nbsp;
        <span>Exolix</span>
    </a>
</li>
}