@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.Serilog.Views
@model BTCPayServer.Plugins.Serilog.Data.LogSettings
@{
    ViewData.SetActivePage(PluginNavPages.Index, "Serilog Server Notifications");
}
<h1>@ViewData["Title"]</h1>

<br/>
<p>
    This plugin allows you to receive notifications about events occurring on the BTCPay server.<br/>
    These notifications can be sent to Telegram and/or Slack, specifying a minimum level of severity for each.<br/>
    <a href="https://github.com/Nisaba/btcpayserver-plugin-serilog#readme" target="_blank" rel="noreferrer noopener">Documentation here</a><br /><br />
    If you like my work, you can send me with a few sats here: donate@btcpay.nisaba-solutions.com.<br />Thank you !
</p>
<br />

<partial name="_StatusMessage" />

<form method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <!--
    <div class="row">
        <div class="col-xl-10 col-xxl-constrain">
            <div class="d-flex flex-wrap gap-3 align-items-center justify-content-between mt-n1 mb-4">
                <h4 class="mb-3">Email</h4>
                <div class="d-flex">
                    <button class="btn btn-secondary mt-2" value="TestEmail" name="Command">Test</button>
                </div>
            </div>
        </div>
    </div>

        <table class="table table-sm mt-0 mx-0"><tr>
        <td class="border-0 ps-0 align-middle">
            <input asp-for="logEmailEnabled" type="checkbox" class="form-check-input" />
            <label asp-for="logEmailEnabled" class="form-check-label"></label>
            <span asp-validation-for="logEmailEnabled" class="text-danger"></span>
        </td>
        <td class="border-0 ps-0 align-middle">
            <label asp-for="emailConfig.MinLevel" class="form-check-label"></label>
            <select asp-for="emailConfig.MinLevel" asp-items="Html.GetEnumSelectList<Serilog.Events.LogEventLevel>()"></select>
        </td>
    </tr></table>

    <div class="form-group">
        <label asp-for="emailConfig.To" class="form-label"></label>
        <input asp-for="emailConfig.To" placeholder="name@email.com" data-fill="port" class="form-control" />
        <span asp-validation-for="emailConfig.To" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="emailConfig.Template" class="form-label"></label>
        <input asp-for="emailConfig.Template" data-fill="port" class="form-control" />
        <span asp-validation-for="emailConfig.Template" class="text-danger"></span>
    </div>

    <table class="table table-sm mt-0 mx-0">
        <tr>
            <td class="border-0 ps-0 align-middle">
                <label asp-for="Settings.emailConfig.Period" class="form-label"></label>
                <input asp-for="Settings.emailConfig.Period" data-fill="port" class="form-control" />
                <span asp-validation-for="Settings.emailConfig.Period" class="text-danger"></span>
            </td>
            <td width="20"/>
            <td class="border-0 ps-0 align-middle">
                <label asp-for="Settings.emailConfig.NbMaxEventsInMail" class="form-label"></label>
                <input asp-for="Settings.emailConfig.NbMaxEventsInMail" data-fill="port" class="form-control" />
                <span asp-validation-for="Settings.emailConfig.NbMaxEventsInMail" class="text-danger"></span>
            </td>
        </tr>
    </table>

    <br>
    -->
    <div class="row">
        <div class="col-xl-10 col-xxl-constrain">
            <div class="d-flex flex-wrap gap-3 align-items-center justify-content-between mt-n1 mb-4">
                <h4 class="mb-3">
                    Slack
                    <a href="https://api.slack.com/messaging/webhooks" target="_blank" rel="noreferrer noopener">
                        <svg role="img" class="icon icon-info">
                            <use href="/img/icon-sprite.svg?v=H3J236jgwo6vtqeJl4025BRgw5YYuCXlmUIjG2jBa5A#info"></use>
                        </svg>
                    </a>
                </h4>
                <div class="d-flex align-middle">
                    <button class="btn btn-secondary mt-2" value="TestSlack" name="Command">Test</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-sm mt-0 mx-0">
        <tr>
            <td class="border-0 ps-0 align-middle">
                <label asp-for="slackConfig.Channel" class="form-label"></label>
                <input asp-for="slackConfig.Channel" data-fill="port" class="form-control" />
                <span asp-validation-for="slackConfig.Channel" class="text-danger"></span>
            </td>
            <td width="20" />
            <td class="border-0 ps-0 align-middle">
                <label asp-for="slackConfig.UserName" class="form-label"></label>
                <input asp-for="slackConfig.UserName" data-fill="port" class="form-control" />
                <span asp-validation-for="slackConfig.UserName" class="text-danger"></span>
            </td>
        </tr>
    </table>

    <div class="form-group">
        <label asp-for="slackConfig.HookUrl" class="form-label"></label>
        <input asp-for="slackConfig.HookUrl" data-fill="port" class="form-control" />
        <span asp-validation-for="slackConfig.HookUrl" class="text-danger"></span>
    </div>

    <table class="table table-sm mt-0 mx-0">
        <tr>
            <td class="border-0 ps-0 align-middle">
                <input asp-for="logSlackEnabled" type="checkbox" class="form-check-input" />
                <label asp-for="logSlackEnabled" class="form-check-label"></label>
                <span asp-validation-for="logSlackEnabled" class="text-danger"></span>
            </td>
            <td width="20" />
            <td class="border-0 ps-0 align-middle">
                <label asp-for="slackConfig.MinLevel" class="form-check-label"></label>
                <select asp-for="slackConfig.MinLevel" asp-items="Html.GetEnumSelectList<Serilog.Events.LogEventLevel>()"></select>
            </td>
        </tr>
    </table>

    <br /><br />

    <div class="row">
        <div class="col-xl-10 col-xxl-constrain">
            <div class="d-flex flex-wrap gap-3 align-items-center justify-content-between mt-n1 mb-4">
                <h4 class="mb-3">
                    Telegram
                    <a href="https://core.telegram.org/bots" target="_blank" rel="noreferrer noopener">
                        <svg role="img" class="icon icon-info">
                            <use href="/img/icon-sprite.svg?v=H3J236jgwo6vtqeJl4025BRgw5YYuCXlmUIjG2jBa5A#info"></use>
                        </svg>
                    </a>
                    <a href="https://stackoverflow.com/questions/32423837/telegram-bot-how-to-get-a-group-chat-id" target="_blank" rel="noreferrer noopener">
                        <svg role="img" class="icon icon-info">
                            <use href="/img/icon-sprite.svg?v=H3J236jgwo6vtqeJl4025BRgw5YYuCXlmUIjG2jBa5A#info"></use>
                        </svg>
                    </a>
                </h4>
                <div class="d-flex">
                    <button class="btn btn-secondary mt-2" value="TestTelegram" name="Command">Test</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-sm mt-0 mx-0">
        <tr>
            <td class="border-0 ps-0 align-middle">
                <label asp-for="telegramConfig.Token" class="form-label"></label>
                <input asp-for="telegramConfig.Token" data-fill="port" class="form-control" />
                <span asp-validation-for="telegramConfig.Token" class="text-danger"></span>
            </td>
            <td width="20" />
            <td class="border-0 ps-0 align-middle">
                <label asp-for="telegramConfig.ChatID" class="form-label"></label>
                <input asp-for="telegramConfig.ChatID" data-fill="port" class="form-control" />
                <span asp-validation-for="telegramConfig.ChatID" class="text-danger"></span>
            </td>
        </tr>
    </table>

    <table class="table table-sm mt-0 mx-0">
        <tr>
            <td class="border-0 ps-0 align-middle">
                <input asp-for="logTelegramEnabled" type="checkbox" class="form-check-input" />
                <label asp-for="logTelegramEnabled" class="form-check-label"></label>
                <span asp-validation-for="logTelegramEnabled" class="text-danger"></span>
            </td>
            <td width="20" />
            <td class="border-0 ps-0 align-middle">
                <label asp-for="telegramConfig.MinLevel" class="form-check-label"></label>
                <select asp-for="telegramConfig.MinLevel" asp-items="Html.GetEnumSelectList<Serilog.Events.LogEventLevel>()"></select>
            </td>
        </tr>
    </table>

    <br>
    <div class="order-1">
        <button id="SaveButton" type="submit" class="btn btn-primary" name="command" value="Save">Save</button>
    </div>
</form>

