@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.TelegramBot.Views
@using Microsoft.AspNetCore.Mvc.TagHelpers

@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (!string.IsNullOrEmpty(storeId))
{
 <ul class="navbar-nav">
    <li class="nav-item">
        <a asp-controller="TelegramBotPlugin" asp-action="Index" asp-route-storeId="@storeId" class="nav-link @ViewData.IsActivePage(PluginNavPages.Index)">
            <img src="/Resources/img/TelegramIco.webp" width="24" height="24" class="icon"/>&nbsp;
            <span>Telegram Shopping Bot</span>
        </a>
    </li>
</ul>
}