@using BTCPayServer.Plugins.Satora.Models
@using BTCPayServer.Plugins.Satora.Services
@inject SatoraPluginService pluginService
@{
    SatoraSettings settings = await pluginService.GetStoreSettings(Model.StoreId);
    if (settings?.Enabled is not true) return;
}

<a href="#Satora" class="btcpay-pill m-0 payment-method" :class="{ active: pmId === 'Satora' }"
       v-on:click.prevent="pmId.includes('BTC-') || pm.Id === 'ARKADE' ? changePaymentMethod('Satora') : alert('Please select the Bitcoin or Lightning payment method first before choosing Stablecoins.')">
    <div style="text-align: center;">
        <span style="display: block;">Stablecoins</span>
    </div>
</a>
