@using BTCPayServer.Abstractions.Services
@using BTCPayServer.Plugins.Satora.Models
@using Newtonsoft.Json
@inject Safe Safe

@{
    var availableCryptos = SatoraData.AvailableCryptos.ToDictionary(
        k => k.Key.ToString(),
        v => v.Value.Select(b => b.ToString().Replace("_", " ")).ToList()
    );

    var vueModel = new
    {
        availableCryptos = availableCryptos
    };
}

<script>
    window.satoraData = @Safe.Raw(JsonConvert.SerializeObject(vueModel));
</script>

<script src="~/Resources/js/satoraComponent.js"></script>

<style>
    .qr-container {
        text-align: center;
        padding: 1rem;
        background: white;
        border-radius: 0.5rem;
        display: inline-block;
        position: relative;
        margin: 0 auto;
    }

    .qr-container .qr-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 70px;
        height: 70px;
        padding: 5px;
        border-radius: 50%;
        background: white;
    }
</style>

<script src="~/vendor/vue-qrcode/vue-qrcode.min.js" asp-append-version="true"></script>
<template id="satora-checkout-template">
    <div class="payment-box">
        <div class="mt-3">
            <div class="payment-details">
                
                <div class="mb-3">
                    <label class="form-label">Select a Stablecoin :</label>
                    <select class="form-select" v-model="selectedStablecoin">
                        <option value="" disabled>-- Select a stablecoin --</option>
                        <option v-for="(blockchains, crypto) in availableCryptos" :key="crypto" :value="crypto">
                            {{ crypto }}
                        </option>
                    </select>
                </div>

                <div v-if="selectedStablecoin && availableCryptos[selectedStablecoin] && availableCryptos[selectedStablecoin].length > 1" class="mb-3">
                    <label class="form-label">Select a Blockchain :</label>
                    <select class="form-select" v-model="selectedBlockchain">
                        <option value="" disabled>-- Select a blockchain --</option>
                        <option v-for="blockchain in availableCryptos[selectedStablecoin]" :key="blockchain" :value="blockchain">
                            {{ blockchain }}
                        </option>
                    </select>
                </div>

                <div v-if="selectedStablecoin && availableCryptos[selectedStablecoin] && availableCryptos[selectedStablecoin].length === 1" class="mb-3">
                    <small class="text-muted">
                        <i class="fa fa-info-circle"></i> Blockchain {{ availableCryptos[selectedStablecoin][0] }} selected.
                    </small>
                </div>

                <div v-if="isLoadingSwap" class="mb-3 text-muted">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Generating swap details...
                </div>

                <div v-if="swapError" class="mb-3 text-danger">
                    <i class="fa fa-exclamation-triangle"></i> {{ swapError }}
                </div>

                <div v-if="swapResult && swapResult.success && !isLoadingSwap" class="swap-details border rounded p-3 mb-3">
    
                    <div class="text-center qr-container mb-3" v-if="qrCodeData">
                        <div>
                            <qrcode :value="qrCodeData" :options="qrOptions" tag="div" />
                        </div>
                    </div>

                    <div class="mb-2">
                        <strong>Please send this amount:</strong>
                        <div class="input-group">
                            <input type="text" class="form-control" readonly :value="swapResult.fromAmount">
                            <input type="text" class="form-control" readonly :value="selectedStablecoin">
                            <button class="btn btn-secondary" v-on:click="navigator.clipboard.writeText(swapResult.fromAmount)">
                                Copy
                            </button>
                        </div>
                    </div>
    
                    <div class="mb-2">
                        <strong>to this Address:</strong>
                        <div class="input-group">
                            <input type="text" class="form-control" readonly :value="swapResult.fromAddress">
                            <button class="btn btn-secondary" v-on:click="navigator.clipboard.writeText(swapResult.fromAddress)">
                                Copy
                            </button>
                        </div>
                    </div>

                    <div class="mt-2 text-center text-muted">
                        <small>Network: <b>{{ selectedBlockchain }}</b></small>
                    </div>

                    <button class="btn btn-primary w-100 mt-2" v-on:click="payInWallet" :disabled="!swapResult">
                        <i class="fa fa-external-link-alt"></i>
                        Pay in wallet
                    </button>
                    <br />
                    
                    <div class="form-text mt-2">
                        This service is provided by <a href="https://satora.io" target="_blank">Satora</a>.<br />
                        Bitcoins will be sent to the merchant as soon as your {{ selectedStablecoin }} transaction is confirmed. Please wait.<br />
                        If needed, contact support@satora.io and/or your merchant with the Swap id: {{ swapResult.swapId }}
                    </div>
                    
                    <div class="mt-2 text-center">
                        <a href="#" v-on:click.prevent="checkStatus" :class="{ 'text-muted': !swapResult }">
                            <i class="fa fa-refresh" :class="{ 'fa-spin': checkingStatus }"></i>
                            Check status
                        </a>
                        <div v-if="swapStatus" class="mt-1 text-muted">
                            Status: {{ swapStatus }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>